html,
body {
    padding-top: 2%;
    height: 100%;
    background-color: #F5F5F5;
}

.dropdown-top-right {
    position: absolute;
    top: 10px;
    right: 10px;
}
.btn svg {
    width: 24px; /* Ajuste o tamanho do ícone conforme necessário */
    height: 24px; /* Ajuste o tamanho do ícone conforme necessário */
    vertical-align: middle; /* Alinha verticalmente o ícone ao centro */
    fill: black; /* Define a cor do ícone para branco */
}

.form-signin {
    max-width: 450px;
    padding: 2.5rem;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.66);
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.botao-login {
    background-color: #0b2c3f;
    color: white;
}

.botao-login:hover {
    background-color: #4C7E9C;
    color: white;
}
