body {
  min-height: 100vh;
}

main {
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.nav-link.active {
  background-color: #06303F !important;
  color: #d2f4ea;
}

.nav-link:hover {
  background-color: rgba(6, 48, 63, 0.69) !important;
  color: #f2f2f2 !important;
}

.nav-link-hover:hover {
  background-color: rgba(221, 221, 221, 0) !important;

}

.dropdown-top-right {
  position: static;
  top: 10px;
  right: 10px;
}
.btn svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  fill: #06303F;
}

.bg-primary {
  background-color: #06303F !important;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px; /* Adiciona bordas arredondadas à tabela */
  overflow: hidden; /* Garante que o arredondamento seja aplicado corretamente */

}
.table thead th {
  background-color: #06303F; /* Cor específica para o cabeçalho */
  color: white;
  padding: 10px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 14px;
}
.table tbody td {
  padding: 8px;
  text-align: center;
}
.table tbody tr:nth-child(even) {
  background-color: rgba(6, 48, 63, 0.14);
}
.table tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Cor para as linhas ímpares */
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.list-group-item:hover {
  background-color: #048EA6 !important;
  color: #f2f2f2 !important;
}

#filtroAtendimento {
  margin: 10px;
  font-size: 17px;
  text-align: left;
  font-weight: lighter;
  padding: 2px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra com deslocamento horizontal de 0, deslocamento vertical de 0, desfoque de 10px e cor preta com 10% de opacidade */
}


bg.emergencia {
  background-color: #048EA6 !important;

}